In [1]:
# ignore warnings
import warnings
warnings.filterwarnings("ignore")

# Wrangling
import pandas as pd
import numpy as np

# Exploring
import scipy.stats as stats

# Visualizing
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns

# default pandas decimal number display format
pd.options.display.float_format = '{:20,.2f}'.format

import acquire
import wrangle_zillow
from sklearn.impute import KNNImputer

## Create either a python script or a jupyter notebook named explore_tips that explores the tips data set that is built in to seaborn. Perform at least 1 t-test and 1 chi square test.

In [2]:
df = sns.load_dataset('tips')

In [3]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

> $H_0$: There is no relationship between gender and smoking

> $H_a$: There is a relationship between gender and smokin

In [4]:
observed = pd.crosstab(df.sex, df.smoker)

In [5]:
chi2, p, degf, expected = stats.chi2_contingency(observed)

print('Observed\n')
print(observed.values)
print('---\nExpected\n')
print(expected)
print('---\n')
print(f'chi^2 = {chi2:.4f}')
print(f'p     = {p:.4f}')

Observed

[[60 97]
 [33 54]]
---
Expected

[[59.84016393 97.15983607]
 [33.15983607 53.84016393]]
---

chi^2 = 0.0088
p     = 0.9254

#### since p value is so high, we fail to reject the null hypothesis

> $H_0$: There is no difference in average tip for smoker vs non-smoker

> $H_a$: There is difference in average tip for smoker vs non-smoker

In [6]:
x1 = df[df.smoker == 'Yes'].tip
x2 = df[df.smoker == 'No'].tip

In [7]:
stats.ttest_ind(x1, x2)

Ttest_indResult(statistic=0.09222805186888201, pvalue=0.9265931522244976)

#### since p value is so high, we fail to reject the null hypothesis